<section class="d-flex flex-column text-center align-items-center">
  <div class="card my-3 bg-black border-secondary text-light flex-column align-items-center" style="width: 27rem;">
    <p class="card-title">Category</p>
    <input class="w-75 mb-3" type="text" name="category" id="category" value="{{one.category}}">
    <p class="card-title">Title</p>
    <input class="w-75 mb-3" type="text" name="title" id="title" value="{{one.title}}">
    <p class="card-title">Photo URL</p>
    <input class="w-75 mb-3" type="text" name="photo" id="photo" value="{{one.photo}}">
    <img src="{{one.photo}}" class="card-img-top" alt="{{one.title}}" />
    <div class="card-body bg-dark border-top border-secondary border-1 d-flex flex-column align-items-center" style="width: 27rem;">
      <p class="card-title">Price</p>
      <input class="w-25 mb-3" type="numeric" name="price" id="price" value="{{one.price}}">
      <p class="card-title">Stock</p>
      <input class="w-25 mb-3" type="numeric" name="stock" id="stock" value="{{one.stock}}">
      
      <p class="w-50 mb-3" type="numeric" name="pid" id="pid">{{one.id}} </p>
      <a href="javascript:void(0);" id="modify" class="btn btn-outline-light mx-5 mb-3">Modify</a>
    </div>
  </div>
</section>





    <script src="https://cdn.socket.io/4.7.5/socket.io.min.js"></script>
    <script src="/public/js/socketModifyProducts.js"></script>