<section class="d-flex flex-wrap justify-content-evenly text-center">
  <div class="card my-3 bg-black border-secondary text-light" style="width: 18rem;">
    <h5 class="card-title">{{one.category}}</h5>
    <h5 class="card-title">{{one.title}}</h5>
    <img src="{{one.photo}}" class="card-img-top" alt="{{one.title}}" />
    <div class="card-body bg-dark border-top border-secondary border-1">
      <p class="card-text ">Price: ${{one.price}}</p>
      <p class="card-text">Stock: {{one.stock}}</p>
      <a href="" class="btn btn-outline-light mx-5 mb-2">Comprar</a>
    </div>
  </div>
</section>