<section class="d-flex flex-wrap justify-content-evenly text-center">
  <div class="card my-3 bg-black border-secondary text-light" style="width: 18rem;">
    <h5 class="card-title">{{one.userName}}</h5>
    <h5 class="card-title">{{one.email}}</h5>
    <img src="{{one.photo}}" class="card-img-top" alt="{{one.title}}" />
    <div class="card-body bg-dark border-top border-secondary border-1">
      <p class="card-text ">Password: {{one.password}}</p>
      <p class="card-text ">Id: {{one.id}}</p>
      <a href="" class="btn btn-outline-light mx-5 mb-2">Accept</a>
    </div>
  </div>
</section>