<h1 class="text-center text-light">Products</h1>
<section class="d-flex flex-wrap gap-3">
    <label for="formSearch" class="mt-3 text-light ms-3">Category</label>
    <select class="form-control w-25 mt-3" id="formSearch" name="localidad">
        <option value="All">All</option>
        <option value="Keyboard">Keyboard</option>
        <option value="Mouse">Mouse</option>
        <option value="Monitor">Monitor</option>
        <option value="Notebook">Notebook</option>
        <option value="Pc Desktop">Pc Desktop</option>
        <option value="Others">Others</option>
    </select>
    <input class="btn btn-outline-light mt-2" type="button" id="search" value="SEARCH">
</section>

<article class="d-flex flex-wrap justify-content-evenly" id="productList">
    {{#each products}}
        <div class="card my-3 text-center text-light border-secondary bg-black" style="width: 18rem;">
            <h5 class="card-title">{{this.category}}</h5>
            <h5 class="card-title mx-1">{{this.title}}</h5>
            <img src="{{this.photo}}" class="card-img-top text-center mx-auto d-block" alt="{{this.title}}" style="height: 10rem; width: 15rem;">
            <div class="card-body bg-dark border-top border-secondary border-1" style="height: 10rem;">
                <p class="card-text">Price: ${{this.price}}</p>
                <p class="card-text">Stock: {{this.stock}}</p>
                <a href="/products/{{this._id}}" class="btn btn-outline-light mx-5 mb-2">Buy</a>
            </div>
        </div>
    {{/each}}
</article>



    <script src="https://cdn.socket.io/4.7.5/socket.io.min.js"></script>
    <script src="/public/js/socketProduct.js"></script>